* {
    box-sizing: border-box;
  }
  
@font-face {
  font-family: technology;
  src: url(Technology.ttf) format("truetype");
}

  body {
    background-image: linear-gradient(
      0deg,
      #8A2BE2,
      #9370DB
    );
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin: 0;
  }

  .header {
    display: flex;
    justify-content: center;
    font-family: technology;
    text-align: center;
    margin-bottom: 6.25em;
}


  .music-container {
    display: flex;
    padding: 1.25em 1.875em;
    justify-content: center;
  }
  
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -1.30em;
  }
  
  /* styling the navigation buttons */
  .action-btn {
    background-color: gray;
    box-shadow: inset -0.0625em -0.0625em 0.3125em rgba(33,33,33, 0.5), inset -0.0625em -0.0625em 0.3125em rgba(33,33,33,0.5); 
    border: 0;
    font-size: 0.9375em;
    cursor: pointer;
    padding: 0.3125em;
    margin: 0 1.25em;
  }
  
  .action-btn.action-btn-big {
    font-size: 0.9375em;
    outline: none;
  }
  
  .action-btn:focus {
    outline: 0;
  }

.main-radio-container {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    border: 0.1875em solid black;
    width: 37.5em;
    height: 18.75em;
    background-color: gray;
    
}

.antenna {
    border: 0.125em solid black; 
    border-radius: 0.0625em;
    margin: 1.5em auto -3.01em;
    padding-left: 21.875em;
    transform: rotate(205deg);
    transform-origin: 0%; 
}

.music-info {
  display: flex;
  background: rgba(0, 0, 0, 0.705);
  width: 50%;
  justify-content: space-around;
  
}


.music-info #title {
  font-family: technology;
  color: red;
  text-align: center;
}

.divider {
  width: 100%;
  margin-top: 10px;  
  border: solid black;  
}


.speakers {
    margin-top: 3.125em;
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}
.speaker-left, .speaker-right  {
    display: flex; 
    width: 9.375em;
    height: 9.375em;
    background: radial-gradient(rgb(81, 200, 240), 20%,blue 60%,gray 100%);
    border: 0.625em solid black;
    border-radius: 9.375em;
}


.cassette {
    display: flex; 
    width: 6.25em;
    height: 3.125em;
    background-color: rgb(177, 170, 170);
    border: 0.3125em solid black;
    justify-content: space-around;
}

.cassette-left, .cassette-right {
    display: flex; 
    width: 1.5625em;
    height: 1.5625em;
    background-color: whitesmoke;
    border: 0.125em solid black;
    border-style: dashed;
    border-radius: 1.5625em; 
    margin-top: 0.625em;
}



@media (max-width: 768px) and (min-width: 320px){

  @font-face {
    font-family: technology;
    src: url(OLD_SCHOOL_RADIO/assets/technology_fonts/Technology.ttf) format("truetype");
  } 

  body { height: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

  .header {
    font-size: 50%;
    font-family: technology;
  }
  
  .navigation {
    margin-bottom: -1.70em;
  }

  .action-btn, .action-btn.action-btn-big {
    font-size: 50%;
    color: black;
  }
  
  .main-radio-container {
   display: flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;
   width: 75%;
   height: 30%;
   margin: 0 auto;
   background-color: gray;
  }

  .antenna {
    border: 0.125em solid black; 
    margin-left: 6em;
    padding-left: 4.375em;
    transform: rotate(215deg);
    transform-origin: -15%; 
}

.music-info {
  display: flex;
  background: rgba(0, 0, 0, 0.705);
  width: 70%;
  justify-content: space-around;
  
}


.music-info #title {
  font-family: technology;
  color: red;
  text-align: center;
}
 
  .divider {
    margin-top: 10%;
    width: relative;
  }

  .speakers {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    width: 100%;
   
  }

  .speaker-left, .speaker-right {
    width: 4.6875em;
    height: 4.6875em;
    border:  0.3125em solid black;
    border-radius: 50%;
    background: radial-gradient(rgb(81, 200, 240), 20%,blue 60%,gray 100%);
  }

  
  .cassette {
    display: flex; 
    width: 3.125em;
    height: 1.5625em;
    background-color: rgb(177, 170, 170);
    border: 0.15625em solid black;
    justify-content: space-around;
}

.cassette-left, .cassette-right {
    display: flex; 
    width: 0.78125em;
    height: 0.78125em;
    background-color: whitesmoke;
    border: 0.0625em solid black;
    border-style: dashed;
    border-radius: 50%; 
    margin-top: 0.3125em;
}


  
  }
